.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Match Game Styles*/
.cardmain{
  display: inline-block;
}

.card{
  background-color: rgb(178, 158, 158);
  margin-left: 5px;
  margin-bottom: 5px;
  display: flex;
  width: 200px;
  height: 80px;
  align-items: center;
  justify-content: center;
  border: solid;
}

.card.active {
  background-color: #0000FF;
}
.card.wrong {
  background-color: #FF0000;
}

.card.correct {
  background-color: #00FF00;
  pointer-events: none;
  border: none;
}

.disableGame {
  opacity: 0.3;
  pointer-events: none;
}

.hidedashboard{
  display: none;
}